<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @semester.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @semester.year_id %>
</p>

This semester have <%= @semester.number_of_subjects %> subjects.
<table>
  <thead>
  <tr>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @semester.current_subjects.each do |sub| %>
    <tr>
      <td><%= sub.title %></td>



      <td><%= link_to 'Remove from this semester', "/semester_subjects/custom_destroy/#{@semester.id}/#{sub.id}" %></td>
      <td>
        <%= form_with(model: @teachersubject) do |form| %>


              <%= form.hidden_field :subject_id, value: sub.id %>


              <%= form.hidden_field :user_id %>

            <%= form.label :Assign_This_Teacher %>
            <select onchange="addTeacherIdToHiddenFeild()" id="teacher_select_tag">
              <option>Please select a teacher</option>
              <% current_user.teacher_list.each do |teacher| %>
                <option value="<%= teacher.id %>"><%= teacher.email %></option>
              <% end %>
            </select>

              <%= form.submit %>


        <% end %>
          </td>
      <td><%= link_to 'Details', sub %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<hr>

<table>
  <thead>
  <tr>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @subjects.each do |sub| %>
    <tr>
      <td><%= sub.title %></td>




      <td><%= link_to 'Add to this semester', "/semester_subjects/custom_create/#{@semester.id}/#{sub.id}" %></td>
      <td><%= link_to 'Details', sub %></td>
    </tr>
  <% end %>
  </tbody>
</table>


<%= link_to 'Change', edit_semester_path(@semester) %> |
<%= link_to 'Back', semesters_path %>

<script>
   const addTeacherIdToHiddenFeild = () => {
       selectDOM = document.getElementById("teacher_select_tag")
       console.log(selectDOM.value)
       document.getElementById("teacher_subject_user_id").value = selectDOM.value
   }
</script>
