<h1>New Dept Student</h1>
<%= form_with(model: @dept_student) do |form| %>
  <% if @dept_student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dept_student.errors.count, "error") %> prohibited this dept_student from being saved:</h2>

      <ul>
        <% @dept_student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :department_id %>
    <%= form.select :department_id, Department::DEPTS %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, value: @user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= link_to 'Back', dept_students_path %>
