<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @student_progress.year_id %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @student_progress.semester_id %>
</p>

<p>
  <strong>Student:</strong>
  <%= @student_progress.student_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @student_progress.subject_id %>
</p>

<%= link_to 'Edit', edit_student_progess_path(@student_progress) %> |
<%= link_to 'Back', student_progesses_path %>
