<body>


<p id="notice"><%= notice %></p>


<% if user_signed_in? %>
  <%= button_to "Sign Out", destroy_user_session_path, :method => :delete, :class => "btn btn-danger" %>
  <% if current_user.admin? %>
    <h4>You are an admin</h4>
    <p>
      <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Toggle first element</a>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Toggle second element</button>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle both elements</button>
    </p>
    <div class="row">
      <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample1">
          <div class="card card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
          </div>
        </div>
      </div>
      <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample2">
          <div class="card card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
          </div>
        </div>
      </div>
    </div>
    <div id="requestCollapse">
      <table>
        <thead>
        <tr>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% @requests.each do |request| %>
          <tr>
            <td><%= request.user_id %> requested to be a <%= request.role %></td>
            <% if request.approved %>
              <td><p style="text-decoration: underline">Approved</p></td>
            <% else %>
              <td><%= link_to 'Approve', "/requests/approve/#{request.id}" %></td>
            <% end %>
            <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>


    <hr>

    <table>
      <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @departments.each do |dept| %>
        <tr>
          <td><%= dept.title %></td>





          <td><%= link_to 'Details', dept %></td>
          <td><%= link_to 'Destroy', dept, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= link_to "Create Dept", new_department_url %>

    <hr>
    <table>
      <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @subjects.each do |sub| %>
        <tr>
          <td><%= sub.title %></td>
          <td><%= link_to 'Details', sub %></td>
          <td><%= link_to 'Destroy', sub, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= link_to "Create Subject", new_subject_url %>
  <% elsif current_user.regular? %>
    <h4>You are a regular user. Try to get a role now!</h4>
    <%= link_to 'Get a role', new_request_url %>
  <% elsif current_user.student? %>
    <h4>You are a student.</h4>
    <% if current_user.has_dept? %>
      <p>You are a student of <%= current_user.dept_name %>.</p>
      <p><%= current_user.year_sem %></p>
      <p>You have passed in <%= current_user.subject_passed_percent %>% of the courses</p>
      <p>You are enrolled in following courses:</p>
      <table>
      <% current_user.subjects_taken.each do |sub| %>
        <tr><td><%= sub.subject.title %></td><td>
          <% if sub.passed %>
            Passed
          <% else %>
            Not passed yet.
          <% end %>
          </td></tr>
      <% end %>
      </table>
    <% else %>
      <p>You haven't selected your department yet. Select one right now!</p>
      <%= link_to "Choose department", new_dept_student_url(:user_id => current_user.id) %>

    <% end %>
  <% elsif current_user.teacher? %>
    <h4>You are a teacher.</h4>
    These are the subjects that you are taking:
    <ul>
    <% current_user.teacher_taking_which_subjects.each do |sub| %>
      <li><div style="display: flex; flex-direction: row; padding: 10px"><div style="margin-right: 10px"><%= sub.subject.title %></div><div>Show students</div></div></li>
        <table>
          <% current_user.students_taking_this_subject(sub.id).each do |stud|  %>
          <tr><td><%= stud.user.email %></td>
            <td>
              <% if current_user.this_student_passed_or_not(stud.user.id, sub.id) %>
                Passed
              <% else %>
                <input type="radio" name="passed" onchange="make_this_student_passed(<%= stud.id %>)">
              <% end %>
                </td>
          </tr>
            <% end %>
        </table>
    <% end %>
    </ul>
  <% end %>
<% end %>


<br>

<script>
    var csrfToken = $('meta[name="csrf-token"]').attr('content');


    function make_this_student_passed(ss_id){
        console.log(ss_id)
        $.ajax({
            url: `/student_subjects/${ss_id}/`,
            type: "PUT",
            contentType: 'application/json',
            headers: {
                'X-CSRF-Token': csrfToken
            },
            data: JSON.stringify({
                student_subject: {
                    "passed": true
                }
            }),
            success: function(res) {
                console.log("Done and dusted!")
                console.log(res)
            },
            error: function(xhr, status, error) {
                console.log("Something went wrong!")
                console.log(`${error}`)
            }
        })
    }
</script>
</body>

