<body>


<p id="notice"><%= notice %></p>


<% if user_signed_in? %>
  <h5>Welcome back <%= current_user.email %>!<small class="pl-2 text-muted"><%= current_user.user_role %></small></h5>
  <% if current_user.admin? %>
    <p>
      <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#requestCollapse" aria-expanded="false" aria-controls="requestCollapse">
        See requests
      </button>
    </p>

    <div class="collapse multi-collapse" id="requestCollapse">
      <table class="table custom">
        <thead class="thead-dark">
        <tr>

          <th scope="col">Request Descriptions</th>

        </tr>
        </thead>
        <tbody>
        <% @requests.each do |request| %>
          <tr>

            <td>
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex  justify-content-between">
                    <h5 class="mb-1"><%= request.user.email %> requested to be a <%= request.role %></h5>
                    <small><%= time_ago_in_words(request.created_at) %> ago</small>
                  </div>
                  <p class="mb-1">
                    <% if request.approved %>

                      <mark><b>Approved</b></mark>
                    </p>
                  <% else %>
                    <%= link_to 'Approve', "/requests/approve/#{request.id}", :class => "btn btn-success" %>
                  <% end %>
                  </p>
                </a>

              </div>

            </td>

          </tr>
        <% end %>
        </tbody>
      </table>
    </div>


    <hr>

    <table class="table custom  table-hover table-sm">
      <thead class="thead-dark">
      <tr>
        <th colspan="3">Departments</th>
      </tr>
      </thead>

      <tbody>
      <% @departments.each do |dept| %>
        <tr>
          <td><%= dept.title %></td>


          <td><%= link_to 'Details', dept %></td>
<!--          <td><%#= link_to 'Destroy', dept, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= link_to "Create Dept +", new_department_url, :class => "btn btn-outline-dark" %>

    <hr>
    <table class="table custom  table-hover table-sm">
      <thead class="thead-dark">
      <tr>
        <th colspan="3">Subjects</th>
      </tr>
      </thead>

      <tbody>
      <% @subjects.each do |sub| %>
        <tr>
          <td><%= sub.title %></td>
          <td><%= link_to 'Details', sub %></td>
<!--          <td><%#= link_to 'Destroy', sub, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= link_to "Create Subject +", new_subject_url, :class => "btn btn-outline-dark" %>
  <% elsif current_user.regular? %>
    <h4>You are a regular user. Try to get a role now!</h4>
    <%= link_to 'Get a role', new_request_url %>
  <% elsif current_user.student? %>
    <h4>You are a student.</h4>
    <% if current_user.has_dept? %>
      <p>You are a student of <%= current_user.dept_name %>.</p>
      <p><%= current_user.year_sem %></p>
      <p>You have passed in <%= current_user.subject_passed_percent %>% of the courses</p>
      <p>You are enrolled in following courses:</p>
      <p>
        <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#subjectsTable" aria-expanded="false" aria-controls="subjectsTable">
          See subjects
        </button>
      </p>
      <div class="collapse multi-collapse" id="subjectsTable">
      <table class="table table-hover table-bordered table-sm custom">
        <thead class="thead-dark">
          <th>Subject</th>
          <th>Status</th>
          <th>Teacher</th>
        <th>Percentage</th>
        </thead>
        <% current_user.subjects_taken.each do |sub, index| %>
          <tr>
            <td><%= sub.subject.title %></td>
            <td>
              <% if sub.passed %>
                Passed
              <% else %>
                Not passed yet.
              <% end %>
            </td>
            <td>
              <%= current_user.teacher_teaching_this_course(sub.subject.id) %>
            </td>
            <% if index != 0 %>
            <td rowspan="999"><%= current_user.subject_passed_percent %>%</td>
              <% end %>
          </tr>
        <% end %>

      </table>
      </div>
    <% else %>
      <p>You haven't selected your department yet. Select one right now!</p>
      <%= link_to "Choose department", new_dept_student_url(:user_id => current_user.id) %>

    <% end %>
  <% elsif current_user.teacher? %>
    <h4>You are a teacher.</h4>
    These are the subjects that you are taking:
    <ul class="list-group">
      <% current_user.teacher_taking_which_subjects.each do |sub| %>
        <li class="list-group-item list-group-item-success">
          <div style="display: flex; flex-direction: row; padding: 10px; justify-content: space-between">
            <div style="margin-right: 10px"><%= sub.subject.title %></div>
            <p>
              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#studentCollapse<%= sub.id %>" aria-expanded="false" aria-controls="studentCollapse">See
                students taking this subject
              </button>
            </p>
          </div>
          <div class="collapse multi-collapse" id="studentCollapse<%= sub.id %>">
            <table class="table table-bordered">
              <thead class="thead-dark">
              <th>Students</th>
              <th>Pass</th>
              </thead>
              <% current_user.students_taking_this_subject(sub.id).each do |stud| %>
                <tr>
                  <td><%= stud.user.email %></td>
                  <td>
                    <% if current_user.this_student_passed_or_not(stud.user.id, sub.id) %>
                      <div style="width: max-content">
                        <input checked type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Passed" data-off="Not passed" disabled>

                      </div>

                    <% else %>
                      <input onchange="make_this_student_passed(<%= stud.id %>)" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="warning" data-on="Passed" data-off="Not passed">

                      <!--                <input type="radio" name="passed" onchange="make_this_student_passed(<%#= stud.id %>)">-->
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        </li>


      <% end %>
    </ul>
  <% end %>
<% end %>


<br>

<script>
    var csrfToken = $('meta[name="csrf-token"]').attr('content');

    document.addEventListener('DOMContentLoaded', function () {
        // Delay the function by 2 seconds (2000 milliseconds)
        setTimeout(function () {
            // Select all elements with both classes .btn and .toggle
            var elements = document.querySelectorAll('.btn.toggle');

            if (elements.length > 0) {
                // Iterate through the selected elements
                elements.forEach(function (element) {
                    // Set the min-width property to 160px for each element
                    element.style.minWidth = '160px';
                });
            } else {
                console.log("No elements with classes .btn.toggle found.");
            }
        }, 2000); // 2000 milliseconds = 2 seconds
    });


    function make_this_student_passed(ss_id) {
        console.log(ss_id)
        $.ajax({
            url: `/student_subjects/${ss_id}/`,
            type: "PUT",
            contentType: 'application/json',
            headers: {
                'X-CSRF-Token': csrfToken
            },
            data: JSON.stringify({
                student_subject: {
                    "passed": true
                }
            }),
            success: function (res) {
                console.log("Done and dusted!")
                console.log(res)
            },
            error: function (xhr, status, error) {
                console.log("Something went wrong!")
                console.log(`${error}`)
            }
        })
    }
</script>
</body>

