<p id="notice"><%= notice %></p>

<h1>Homes</h1>
<% if user_signed_in? %>
  <%= button_to "Sign Out", destroy_user_session_path, :method => :delete %>
  <% if current_user.admin? %>
    <h4>You are an admin</h4>
    <table>
      <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @requests.each do |request| %>
        <tr>
          <td><%= request.user_id %> requested to be a <%= request.role %></td>
          <td><%= link_to 'Approve', "/requests/approve/#{request.id}" %></td>
          <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <hr>

    <table>
      <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @departments.each do |dept| %>
        <tr>
          <td><%= dept.title %></td>





          <td><%= link_to 'Details', dept %></td>
          <td><%= link_to 'Destroy', dept, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= link_to "Create Dept", new_department_url %>
  <% elsif current_user.regular? %>
    <h4>You are a regular user. Try to get a role now!</h4>
    <%= link_to 'Get a role', new_request_url %>
  <% elsif current_user.student? %>
    <h4>You are a student.</h4>
    <% if current_user.has_dept? %>
      <p>You are a student of <%= current_user.dept_name %>.</p>
    <% else %>
      <p>You haven't selected your department yet. Select one right now!</p>
      <%= link_to "Choose department", new_dept_student_url(:user_id => current_user.id) %>
    <% end %>
  <% elsif current_user.teacher? %>
    <h4>You are a teacher.</h4>
  <% end %>
<% end %>


<br>


